apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: amandevop/ecommerce-backend:eb367ff
          ports:
            - containerPort: 8000
          env:
            - name: MONGO_URI
              value: mongodb://mongo:27017/mern
            - name: PORT
              value: "8000"
