version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  backend:
    build:
      context: ./backend
    container_name: backend
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frondend
      args:
        VITE_PRODUCT_API: ${VITE_PRODUCT_API}
    container_name: frontend
    env_file:
      - .env
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mongo-data:
